python-dotenv>=1.0.1
langchain==1.2.6
langchain-classic==1.0.1
langchain-community==0.4.1
langchain-openai==1.1.7
langchain-chroma==1.1.0
langchain-core==1.2.7
langgraph==1.0.6
langgraph-supervisor==0.0.31
chromadb
requests
fastapi
uvicorn
pydantic
watchdog>=3.0.0
redis>=5.0.0